{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/dacf7dcd9c.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {% bootstrap_css %}
  <title>Document</title>
  <style>
  body {
  {% comment %} background-image: url('https://t1.daumcdn.net/cfile/tistory/996220465CE96BDB11'); {% endcomment %}
  background-image: url('https://st.depositphotos.com/1014680/3671/i/950/depositphotos_36717143-stock-photo-blurry-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }
  </style>
</head>

<body>
  
  {% include 'movies/_nav.html' %}
  
  <div class="container px-0">
    {% block content %}
    {% endblock content %}
  </div>
  {% bootstrap_javascript jquery='full' %}
</body>

</html>
