{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/dacf7dcd9c.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Nanum+Gothic+Coding&display=swap" rel="stylesheet">
  {% bootstrap_css %}
  <title>Document</title>
  <style>
  body {
  background-image: url('https://images.unsplash.com/photo-1535016120720-40c646be5580?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Gothic A1', sans-serif;
  }
  </style>
</head>

<body>
  
  {% include 'movies/_nav.html' %}
  
  <div class="container px-0">
    {% block content %}
    {% endblock content %}
  </div>
  {% bootstrap_javascript jquery='full' %}
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
