{% extends 'movies/base.html' %}
{% load bootstrap4%}

{% block content %}
<div class="card p-5" style="color:white; background-color:rgba(201, 76, 76, 0.7);">
<h1>DETAIL</h1>
{% if user.is_staff %}
<div><a href="{% url 'movies:update' movie.pk %}">영화정보수정</a></div>
{% endif %}
<hr>
<!--<img class="w-25 mt-0 d-block" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{ movie.poster_path }}" alt="poster"><hr>-->
{% if movie.trailer != null %}
<iframe width="100%" height="641" src="https://www.youtube.com/embed/{{ movie.trailer }}/" frameborder="0"
  allowfullscreen class="mb-0"></iframe>
<a href="{% url 'movies:index' %}" class="float-right">[Main Page]</a>
<hr>
{% endif %}



<p>제목 : {{ movie.title }}</p>
<hr>

감독 : {{ movie.director }}
<hr>
출연진 :


{% for person in movie.cast.all %}


<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#{{ person.id }}" role="button" aria-expanded="false" aria-controls="{{ person.name}}">
  {{ person.name }}</a>
</p>
<div class="collapse" id="{{ person.id }}">
  <div class="card card-body w-25">
  {% if person.path != none %}
    <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ person.path }}">
  {% else %}
    <img src="http://www.fao.org/fileadmin/templates/experts-feed-safety/images/profile-img03.jpg">
    <p class="mb-0" style="color: black; font-size: 20px;">이미지가 없습니다.</p>
  {% endif %}
  </div>
</div>
{% endfor %}

장르 :
{% for genres in movie.genre_ids.all %}
{{ genres }} |
{% endfor %}
<hr>

{% if movie.overview %}줄거리 :
{{ movie.overview }}

{% else %}
줄거리를 입력해주세요 <a href="">입력</a>
{% endif %}
<hr>


<p>평점 : {{ movie.vote_average }}</p>
<hr>

댓글 목록
<br>

{% for review in reviews %}
<div>
  <li>
    내용 : {{ review.content }} |
    평점 : {{ review.score }} |
    작성자 : <a href="{% url 'accounts:profile' review.user %}">{{ review.user }}</a>

    {% if request.user == review.user %}
    <form action="{% url 'movies:delete' movie.id review.id %}" method="POST" onclick="return confirm('삭제하시겠습니까')"
      style="display: inline">
      {% csrf_token %}
      <input type="submit" value="삭제" class="btn btn-primary btn-sm">

    </form>
    {% endif %}

  </li>
</div>
{% endfor %}



<div class="alert" role="alert" id="result"></div>

{% if user.is_authenticated %}
<form action="{% url 'movies:new' movie.id %}" method="POST">
  {% csrf_token %}
  {{ review_form }}
  <input type="submit" value="submit">
</form>
{% else %}
<a href="{% url 'accounts:login' %}"> [리뷰를 남기려면, 로그인하세요]</a>
{% endif %}
<hr>
</div>


{% endblock %}
