{% extends 'movies/base.html' %}

{% block content %}
  <h1>Main Page</h1>
  
  <hr>
  {% for movie in movies %}
    <a href="{% url 'movies:detail' movie.id %}">
      <img src="{{ movie.poster_url }}" alt="poster_url" style="width: 200px;">
    </a>
    <div>
      {{ movie.title }} <br>
      {% for genres in movie.genre.all %}
        {{ genres }}
      {% endfor %}
      <br>
      {{ movie.audience}} <br>
      {{ movie.description }}
      <hr>
      <a href="{% url 'movies:like' movie.id %}">
        {% if user in movie.like_users.all %}
          <p>좋아요 누름</p>
        {% else %}
          <p>좋아요</p>
        {% endif %}
      </a>
      {{ movie.like_users.all|length }} 명이 이 영화를 좋아합니다.
    </div>

    
    <hr>
  {% endfor %}
{% endblock  %}
