{% extends 'movies/base.html' %}
{% block content %}

<style>

</style>

<div class="main-body">

  <div class="main">
    <h1 class="text-white mt-3">영화 목록</h1>
    <hr>
    {% if user.is_staff %}
    <a href="{% url 'movies:create' %}" type="button" class="btn btn-dark btn-sm">새 영화 등록</a>
    {% endif %}
    <hr>
    <div class="row">
      {% for movie in movies %}
      <div class="card col-3 px-0 mb-2 bg-dark rounded-lg data-toggle=" tooltip" data-placement="top"" style=" width: 10rem;">
        <a href="{% url 'movies:detail' movie.id %}"><img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
            class="card-img-top" alt="#"></a>
        <div class="card-body text-info">
          <div class="m_name" data-toggle="tooltip" data-placement="top" title="평점 : {{ movie.vote_average }}">
            {{ movie.title }}
          </div>
          <hr>
          {% if user.is_authenticated %}
          {% if user in movie.like_users.all %}
          <i class="fas fa-heart fa-lg like-button" style="color: crimson;" data-id="{{ movie.pk }}"></i>
          <span id="like-count-{{ movie.pk }}"></span> likes</i>
          {% else %}
          <i class="fas fa-heart fa-lg like-button" style="color: black;" data-id="{{ movie.pk }}"></i>
          <span id="like-count-{{ movie.pk }}"></span> likes</i>
          {% endif %}
          {% endif %}
          <!-- {{ movie.like_users.all|length }} likes -->
        </div>
      </div>
      {% endfor %}

    </div>
    <hr>
  </div>

</div>

<script>
  const likeButtons = document.querySelectorAll('.like-button')
  likeButtons.forEach(button => {
    button.addEventListener('click', function (event) {
      const articleId = event.target.dataset.id
      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      axios.post(`/movies/${articleId}/like/`)
        .then(response => {
          document.querySelector(`#like-count-${articleId}`).innerText = response.data.count
          if (response.data.liked) {
            event.target.style.color = 'crimson'
            // event.target.value = '좋아요 취소'
          } else {
            event.target.style.color = 'black'
            // event.target.value = '좋아요'
          }
        })
        .catch(error => console.log(error))
    })
  })
</script>
{% endblock  %}
