container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_chown_sqlitedb:
    command: "sudo chown wsgi db.sqlite3"
    leader_only: true
  03_genre:
    command: "python manage.py loaddata movies/genre.json"
    leader_only: true
  04_cast:
    command: "python manage.py loaddata movies/cast.json"
    leader_only: true
  05_movies:
    command: "python manage.py loaddata movies/movies.json"
    leader_only: true
  06_collectstatic:
    command: "python manage.py collectstatic"
    leader_only: true
  07_superuser:
    command: "python manage.py loaddata movies/users.json"
    leader_only: true
  08_social:
    command: "python manage.py loaddata movies/social.json"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: youme.settings.production
