{% extends 'movies/base.html' %}
{% load bootstrap4 %}
{% load socialaccount %}


{% block content %}
<div class="card mt-5 mx-auto text-center p-3" style="background-color:rgba(201, 76, 76, 0.7); width: 25rem">
  <h1>로그인 페이지</h1>
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit="로그인" reset="Reset" %}{% endbuttons %}
  </form>
  <a href="{% provider_login_url 'google' %}" class="btn btn-success">구글 로그인</a><br>
  <a href="{% provider_login_url 'kakao' %}" class='btn btn-warning'>카카오 로그인</a> <br>
  <a href="{% url 'movies:index' %}" class="btn btn-primary">BACK</a>
</div>
{% endblock  %}
