{% extends 'movies/base.html' %}
{% block content %}
{% comment %} <button>Info</button> {% endcomment %}
<a href="{% url 'movies:index' %}" type="button" class="btn btn-dark btn-sm">Main Page</a>
<a href="{% url 'accounts:logout' %}" type="button" class="btn btn-dark btn-sm">로그아웃</a>
<h1>{{ person.username }}'s Profile</h1>
{% if user.is_staff %}
<a href="{% url 'accounts:update' person.id %}"><p>권한부여</p></a>
{% endif %}
<hr>
{% comment %} <h3>{{ person.username }}가 작성한 글</h3> {% endcomment %}
{% comment %} 
<div class="row">
  {% for movie in movies %}
  <div class="col-4 my-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ movie.content }}</h5>
        <p class="card=text">{{ movie.like_users.count }}명이 좋아합니다.</p>
        <p class="card-text">{{ movie.comment_set.count }}개의 댓글</p>
        <a href={% url 'movies:detail' movie.pk %} class="btn btn-primary">게시글 보기</a>
      </div>
    </div>
  </div>

  {% endfor %}
</div> {% endcomment %}
<p></p>
<h3 class="text-center">{{ person.username }}가 작성한 댓글</h3>
<div class="row">
  {% for comment in person.review_set.all %}
  <div class="col-12 my-2">
    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>내용 : {{ comment.content }}</p>
          <p>평점 : {{ comment.score }}</p>
          <footer class="blockquote-footer">{{ comment.created_at|date:"SHORT_DATE_FORMAT" }}</footer>
        </blockquote>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="jumbotron text-center">
  <h1 class="display-4">{{ person.username }}</h1>
  {% with followers=person.followers.all followings=person.followings.all %}
  <p class="lead">
    팔로잉 : {{ followings|length }} / 팔로워 : {{ followers|length }}
    
    {% for user in person.followings.all %}
    <p>{{user}}</p>
    
    {% endfor %}

  </p>
  <hr class="my-4">
  {% if user != person.username %}
    {% if user in followers %}
      <a class="btn btn-primary btn-lg" href={% url 'accounts:follow' person.username person.pk %} role="button">Unfollow<a>
    {% else %}
      <a class="btn btn-primary btn-lg" href={% url 'accounts:follow' person.username person.pk %} role="button">Follow<a>

    {% endif %}
  {% endif %}
  {% endwith %}
</div>


{% endblock  %}
